<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Page</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    {% load staticfiles %}

	<img src="logos.jpg" style="width:100%">
    <h1 class="bg-primary">Welcome, Admin</h1>

    <table style="width:100%">
      <tr>
        {% for user in users %}
          {% if user.email == 'admin@admin.com' %}

          {% else %}
            <th>{{user.email}}</th>
            {% for doc in user.document_set.all %}
            <tr>
                <td><a href="{{ doc.docfile.url }}">{{ doc.docfile.name }}</a> </td>
                <td><video width="400" controls>
                  <source src="{{ doc.docfile.url }}" type="video/mp4">
                </video>/<td>

                <td><select>
                  <option value="NEW">NEW</option>
                  <option value="VIEWED">VIEWED</option>
                </select></td>
            </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tr>
    </table>
    <form id="logout_btn" class="" action="/logout" method="post">
      {% csrf_token %}
      <input class="button" type="submit" name="logout" value="Logout"><br><br>
    </form>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
